@page "/"

<PageTitle>Index</PageTitle>

<h1 class="mb-4">TheBrain API Quickstart Project</h1>

<p>This is a sample application that demonstrates how to make calls to TheBrain's API from within a project.</p>

<p>Click a tab in the navbar on the left to get started.</p>